
{% extends "base.html" %}
{% load profile %}
{% load facebook %}
{% block title %}{{ profile.full_name }}{% endblock %}
{% block filling %}
{% show_medium_profile profile %}
<div class="panel">
{% if followers or following %}
<div class="sidebar">
  {% if followers %}
  {{ profile.full_name }} <nobr>is followed by:</nobr><br/>{% show_profile_mosaic followers %}<br/><br/>
  {% endif %}
  {% if following %}
  {{ profile.full_name }} <nobr>is following:</nobr><br/>{% show_profile_mosaic following %}
  {% endif %}
</div>
{% endif %}
{% if comments %}
<ol class="comments">
{% for c in comments %}
  <li{% if forloop.first %} class="first"{% endif %}>{% show_comment c %}</li>
{% endfor %}
</ol>
{% else %}
<h2>{{ profile.full_name }} has not posted anything yet.</h2>
{% endif %}
</div>
{% endblock %}
