<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>News Mixer</title>
    <link rel="stylesheet" href="/public/newsmixer.css" type="text/css" media="screen" title="Plain" charset="utf-8" />
</head>
<body>
    <div id="header">
        <div id="masthead">
        <h1><a href="/"><span>News Mixer</span></a></h1>
        <h2>Stir it up</h2>
        </div>
    </div>
    <div id="error-page">
        {% block filling %}{% endblock %}
        <img src="/public/images/fail-fort.jpg" alt="Cat fort"/>
        <p class="credit"><a href="http://www.flickr.com/photos/joshsjackson/811570010/">IMG_3076.JPG by nautical2k</a></p>
    </div>
</body>
</html>
